:root{
    --menor-bg-image: url("/assets/img/homer.jpg") ;
}

body{
    background: #F9F9F9;
    margin: 0;
}

.row{
    margin: 0;
    flex-wrap: nowrap;
    
}

nav{
    
    display: flex;
    align-items: center;
    position: fixed;
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

.logo img{
    height: 36px;
}



.search input{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 6px 18px 12px;
    gap: 8px;
    position: absolute;
    width: 236px;
    height: 48px;
    left: 650px;
    top: 8px;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 4px;
}

.buscar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    position: absolute;
    width: 48px;
    height: 48px;
    left: 900px;
    top: 8px;
    background: #949494;
    border-radius: 4px;
    border: none;
}

.buscar img{
    height: 24px;
    position: center;
    padding: 2px;
}
/* usar essa configuração para os outros botões */
.menu .chat, .configuracoes, .notificacoes{
    padding-top: 12px;
    padding-left: 12px;

}

.buscar:hover{
    background-color: #616161;
}

.menu button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    display: flex;
    flex-direction: row;
    width: 48px;
    height: 48px;
    background: #E0E0E0;
    border-radius: 4px;
    border: none;   
}



.menu button:hover{
    background-color: #7A7A7A;
    cursor: initial;
}

.menu_squares{
    display: flex;
    flex-direction: row;
    padding: 12px 0px 12px 96px;
    gap: 8px;
   
}

.menu .perfil{
    background-image:var(--menor-bg-image);
    width: 48px;
    height: 48px;
}

.corpo{
    display: flex;
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
    /* padding-left: 64px;
    padding-right: 64px; */
    padding-top: 88px;
    gap: 8px;
}

.colunas{
    padding: 0;
    display: flex;
    
}

.colunas{
    display: grid;
    height: auto;
    background-color: green;
    gap: 8px;
}